# Python
__pycache__/
*.pyc
*.pyd
*.pyo
.Python
build/
develop-eggs/
# dist/  <-- COMENTA ESTA LÍNEA
downloads/
eggs/
.eggs/
# lib/   <-- COMENTA ESTA LÍNEA (si sospechas que ignora tus librerías)
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.manifest
.pytest_cache/
.tox/
.env
*.env
pip-log.txt

# Entorno virtual
venv/
env/
/bin/
/include/
# /lib/ <-- ASEGURATE QUE ESTA ESTE COMENTADA O QUE SEA MAS ESPECIFICA PARA EL ENTORNO VIRTUAL
/Scripts/
/local/

# ... el resto de tu .gitignore ...